* {
    margin: 0;
}

body {
    background-image: url("../img/bakgrunn.jpg");

}

.varighet {
    display:none
}

.header {
    font-size: 60px;
    padding: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-family: Georgia;
    display: block;
    margin-top: 35px;
}

.doktor-ikon {
    width: 50px;
    margin-right: 12px;
    align-items: center;
}

.bokser {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: fit-content;
    opacity: 80%;
    margin-bottom: 40px;
}

.boks {
    background: white;
    border: 2px solid black ;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    flex: 1;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    line-height: 2;
}


.underoverskrift {
    text-align: center;
    margin-bottom: 20px;
}

.knapp {
    background-color: black;
    font-family: Georgia;
    color: white;
    padding: 10px;
    display: inline-block;
    width: 180px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin: 15px;
    text-align-all: center;
}

.knapp:hover {
    background-color: #585858;
}

.dropDownIkon {
    width: 20px;
    margin-left: 20px;
}